# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android
android/.gradle/
android/local.properties
android/**/build/
android/captures/
android/.idea/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated
*.g.dart
*.freezed.dart
